button {
  width: 50px;
  height: 20px;
  margin: 10px;
}
textarea {
  width: 300px;
  height: 100px;
}
section {
  position: relative;
  width: 40em;
  height: 120px;
  background-color: rgba(133, 45, 45, 0.35);
  backdrop-filter: blur(200px);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  gap: 10px 2em;
  align-items: center;
}
